.image {
  margin-top: 30px;
}

.info {
  margin-top: 5px;
  display: block;
  text-align: center;
}

.castList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
}
