.header {
  border-bottom: 1px solid rgb(29, 153, 255);
  margin-bottom: 10px;
}

.nav {
  display: flex;
  column-gap: 30px;
  font-weight: bold;
  padding: 20px 30px;
}

.link {
  color: black;
  text-decoration: none;
}
